[Unit]
Description=Custom maintenance scripts that may interrupt users.

[Service]
Type=oneshot

ExecStart=run-weekly

[Install]
WantedBy=default.target
